################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SecureCode/v16/.suo
/SecureCode/bin
/SecureCode/obj